.result-card {
  position: relative;
  display: flex;
  flex-direction: row !important;
  padding: 0.5rem;
}

.left-panel {
  flex: 1;
}

.right-panel {
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
